<!DOCTYPE HTML>
<html>
<head>
    <title>WebSockets Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>

    <script type="text/javascript" charset="utf-8">
       $(document).ready(function(){

           var socket = io.connect('http://' + document.domain + ':' + location.port);
           socket.emit('connected', {});

           //    listens to 'calendar update' message on socket
           socket.on('calendar update', function(msg) {
                html_data = msg['html_data']
                next_refresh = msg['next_refresh']
                $('#title').text('Available dates:')
                $('#date_info').empty()
                $('#date_info').append(html_data)

                $('#status_info').empty()
                console.log('test')
                console.log(next_refresh)
                $('#status_info').append("<p>Next refresh in " + next_refresh + " seconds</p>")
           });

           socket.on('fetching update', function(msg) {
            $('#status_info').empty()
            $('#status_info').append("<p>Refreshing data...</p>")
           });

       });
   </script>
</head>
<body>
    <h1 id="title">Fetching dates...</h1>
    <div id="date_info"></div>
    <div id="status_info"></div>
</body>
</html>